<h2>Listas de salas</h2>
<div class="card">
  <div class="card-content z-depth-3">

    <div style="text-align: center;" *ngIf='empty == true'>Ainda não há salas ativas.
    </div>

    <table mat-table [dataSource]="rooms | async">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let room"> {{room.name}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let room"> {{room.date}} </td>
      </ng-container>

      <ng-container matColumnDef="startHour">
        <th mat-header-cell *matHeaderCellDef> Hora de início </th>
        <td mat-cell *matCellDef="let room"> {{room.startHour}} </td>
      </ng-container>

      <ng-container matColumnDef="endHour">
        <th mat-header-cell *matHeaderCellDef> Hora de término </th>
        <td mat-cell *matCellDef="let room"> {{room.endHour}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td style="display: inline;" mat-cell *matCellDef="let room">
          <button (click)="deleteRoom(room.id)">Deletar</button>
          <button (click)="updateRoom(room.id)" style="margin-left: 10px">Atualizar</button>
          <button (click)="roomDetails(room.id)" style="margin-left: 10px">Detalhes</button>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'date', 'startHour', 'endHour', 'actions']"></tr>
      <tr mat-row *matRowDef="['name', 'date', 'startHour', 'endHour', 'actions']"></tr>
    </table>

  </div>
</div>